<html ng-app="myapp">

<head>

  <script src="/app/angular.min.js"></script>
  <script src="/app/angular-route.min.js"></script>
  <script src="/app/app.js"></script>
  <script src="/app/Controller/EmployeeController.js"></script>
  <script src="/app/Service/EmployeeService.js"></script>
  <script src="/app/Filter/EmployeeFilter.js"> </script>
  <!-- <script src="/app/Directive/EmployeeSalaryDirective.js"> </script> -->
  <script src="/app/ui-bootstrap-tpls.js"></script>
  <link rel="stylesheet" type="text/css" href="/app/style.css" />

  <script src=”https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js”> </script> <link rel=”stylesheet”
    href=”https://unpkg.com/angular-toastr/dist/angular-toastr.css” />


  <!-- toastr -->
  <script src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/angular-toastr/dist/angular-toastr.css" />

  <script Src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/js/toastr.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/css/toastr.css">

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</head>

<body ng-controller="employeeController">
  <header ng-include="'EmployeeHeader.html'"> </header>


  <main ng-view style="padding-top:35px"> </main>

</body>

</html>